Hostname:      {{ ansible_net_hostname }}
Vendor:        {{ ntc_vendor }}
Model:         {{ ansible_net_model or "UNKNOWN" }}
OS Version:    {{ ansible_net_version }}
Serial Number:  {{ ansible_net_serialnum or "UNKNOWN" }}