{% for command in config_data['stdout'] %}
{{ command }}
#####################################################
#####################################################
#####################################################
{% endfor %}
